<!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

<div class="box text-center" data-animate="fadeInUp">
  <div class="container">
    <div class="col-md-12">
      <h3 class="text-uppercase">What's new?</h3>


     <p class="read-more"> <%= link_to "ALL NEWS", blog_index_path,  class: "btn btn-primary" %> </p>

    </div>
  </div>
</div>

<div class="container">

  <div class="col-md-12" data-animate="fadeInUp">

    <div id="blog-homepage" class="row">
     <% @posts.each do |post| %>
      <div class="col-sm-6">
        <div class="post">
          <h4><%= link_to post.title_1 , post %></h4>
          <p class="author-category">By <strong>admin </strong> of <a href=""> WeBuyGoods</a>
          </p>
          <hr>
          <p class="intro"><%= post.text %></p>
          <p class="read-more">
            <%= link_to "Continue reading" , blog_show_path(:id => post.id), class: 'btn btn-primary' %>
          </p>
        </div>
      </div>
    <% end %>


      </div>

    </div>
    <!-- /#blog-homepage -->
  </div>
</div>
<!-- /.container -->

<!-- *** BLOG HOMEPAGE END *** -->


</div>
<!-- /#content -->
